body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
  }

  .all{
    margin: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center content */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    margin: 1%;
  }
  
  form{
    margin: 20px;
  }
  .campo {
    width: 100%;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .content{
    background-color: #FFF;
    border: 5px groove #ccc;
    width: 60%;
    left: 250px;
    position: relative;
    justify-content: center;
    align-self: center;
    padding: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    margin-top: 0%;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 2px groove #ccc;
  }

  .bnt {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    margin: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }

/* Basic Navigation Menu Styling */
nav {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase; 
  }
  
  nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
  nav li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  nav a {
    text-decoration: none; 
    color: #fff;
    padding: 8px 15px; 
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  .active{
    color: red;
    font-weight: bold;
  }
  /* Responsive Menu (Optional) */
  @media (max-width: 768px) {
    nav ul {
      text-align: center; 
    }
  
    nav li {
      display: block; 
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }
  
/* Basic styling for the agenda */  
  h1, h2 {
    text-align: center;
  }
  
  #form-container, #events-container {
    background-color: #FFF;
    padding: 5px;
    padding-bottom: 25px;
    margin-bottom: 140px;
    border: 5px groove #ccc;
  }

  #form-container {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    display: block;
    float: left;
    width: 400px;
    max-width: 700px;
    padding: 20px;
  }

  #events-container{
    float: right;
    width: 700px;
    min-width: 700px;
    margin: 20px;
    padding-left: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="date"], input[type="time"], input[type="number"], textarea, select {
    width: 100%;
    padding: 8px;
    border: 2px groove #333;
    box-sizing: border-box;
  }

  textarea{
    resize: none;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    float: right;
  }

  button:hover{
    color: red;
    transition: 0.2s;
  }

  .bntdeleta{
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .bntdeleta:hover {
    background-color:red;
    color: #FFF;
    transition: 0.2s;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flexbox;
    position: relative;
    right: 20px;
    border: 2px groove #333;
  }
  
  th {
    background-color: #4CAF50; /* Cor de fundo do cabeçalho */
    color: #333; /* Cor do texto do cabeçalho */
    font-weight: bold; /* Negrito no texto do cabeçalho */
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto no cabeçalho */
    border: none; /* Borda das células */
    border-bottom: 2px groove #333;
  }
  
  td {
    padding: 10px; 
    border: none;
  }

  .actionsCell {
    text-align: center;
    padding-right: 30px;
    width: 50px;
  }

  tr{
    background-color: #aca8a8;
  }
  
  tr:nth-child(even) {
    background-color: #cecbcb;
  }

  .container-icones{
    display: inline-flex;
    background-color: #FFF;
    border: 5px groove #ccc;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    min-width: 700px;
    width: 700px;
    padding-left: 45px;
  }
  .container-icones img{

  }

  .container-icones a, label{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
    cursor: pointer;
  }

  .container-icones a:hover {
    color: red;
    transition: 0.2;
  }

  .icones{
    padding-left: 5px;
    margin-right: 12px;
    margin-top: 10px;
    width: 84px;
    height: 64px;
    border: 5px groove #ccc;
    cursor: pointer;
  }

  .icones:hover{
    border: 5px groove red;
    transition: 0.2;
  }
  
  footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}


  